.main--simu {
  width: fit-content;
  margin-top: 40px;
  z-index: 4;
}
.main__title {
  color: var(--dark-color);
  font-size: 5em;
  font-weight: 300;
  text-align: left;
  margin: auto;
  margin-left: 0;
}

.main__simu-title {
  grid-column: 1 / 2;
  grid-row: 1;
  text-align: left;
  color: var(--white-color);
  font-size: 2em;
  letter-spacing: 1.1rem;
  font-weight: 600;
}

.main__simu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 80px;
  width: fit-content;
  margin: 50px auto;
}

.main__simu__canvas-simulation {
  border: solid 6px var(--dark-color);
  box-shadow: 0 0 128px var(--dark-orange-color);
}

.main__simu__set {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.main__simu__set, .main__simu__set input{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white-color);
}

input {
  cursor: pointer;
  box-shadow: 0 0 32 var(--dark-orange-color);
}

/* Setting Box */
.main__simu__set__box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

/* Setting Box radio */
.main__simu__set__box--radio {
  flex-direction: row;
  gap: 0px;
}

.main__simu__set__box--radio input[type=radio] {
  display: none;
}

.main__simu__set__box--radio label {
  padding: 10px 30px;
  border: 4px solid var(--white-color); 
  cursor: pointer;
}

.main__simu__set__box--radio input[type=radio]:checked + label {
  background-color: var(--white-color);
  color: var(--dark-orange-color);
}

/* Range input */
.main__simu__set__box input[type=range] {
  appearance: none;
  width: 300px;
  background: transparent;
  margin-left: 0px;
}

.main__simu__set__box input[type=range]::-webkit-slider-runnable-track {
  background: var(--white-color);
  height: 0.5rem;
}

.main__simu__set__box input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -8px;
  background-color: var(--white-color);
  height: 1.5rem;
  width: 0.5rem;
  box-shadow: 0 0 16px var(--dark-orange-color);
}

/* Button input */
.main__simu__set__box input[type=button]{
  background: transparent;
  border: 4px solid var(--white-color);
  padding: 20px 40px;
}

.main__simu__set__box [type=button]:hover{
  color: var(--dark-orange-color);
  background-color: var(--white-color);
  cursor: pointer;
}

.main__simu__set__box [type=button]:active{
  opacity: 0.5;
}
